//========= FONTS ===========//

// for titles
@mixin Mayak {
  font-family: 'Silkscreen', cursive;
  font-style: normal;
  font-weight: 700;
}

// for other text
@mixin RetroLandMayhem {
  font-family: 'DotGothic16', sans-serif;
  font-style: normal;
  font-weight: 400;
}

@mixin H2 {
  @include Mayak;
  font-size: 28px;
  line-height: 130%;
  text-align: center;
  color: #FFF;

  @include desktop {
    font-size: 64px;
  }
}

//========= BREAK POINTS ===========//
@mixin desktop {
  @media all and (min-width: 1440px) {
    @content;
  }
}

@mixin onlyMobile($displayType: block) {
  display: $displayType;
  @content;

  @include desktop() {
    display: none;
  }
}

@mixin onlyDesktop($displayType: block) {
  display: none;

  @include desktop {
    display: $displayType;
    @content;
  }
}

//========= OTHER ===========//
@mixin centerColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin centerRow {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin button() {
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
}

@mixin absoluteCenter() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
