@import "../../../assets/style/app";

.navigation {
  @include onlyMobile(flex);
  margin-top: 20px;
  justify-content: center;

  button {
    @include button;
    width: 66px;
    height: 66px;

    &:last-child {
      margin-left: 95px;

      svg {
        transform: rotate(180deg);
      }
    }


  }

}
