@import "../../assets/style/app";

.preloader {
  @include centerRow;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #0B1A46;
  background-image: url(../../assets/png/A6_Preloader/stars.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 999;

  .img {
    width: 360px;
    height: auto;

    @include desktop {
      width: 33%;
    }
  }

}
